@font-face {
	font-family: 'icons-turn-arrow';
	src: url('../fonts/icons/icons-turn-arrow.eot'); /* IE9*/
    src: url('../fonts/icons/icons-turn-arrow.eot') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/icons/icons-turn-arrow.woff') format('woff'), /* chrome, firefox */
	     url('../fonts/icons/icons-turn-arrow.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	     url('../fonts/icons/icons-turn-arrow.svg') format('svg'); /* iOS 4.1- */
}
