html, body
  margin 0
  padding 0
  width 100%
  height 100%
body
  font-family "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, "sans-serif"
  font-size .32rem
  color #4d4d4d
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-weight 300
  overflow hidden
